# Version control
.git
.gitignore

# Node.js dependencies
**/node_modules
**/npm-debug.log

# Build files
**/dist
**/build

# Test files
**/coverage
**/.nyc_output
**/__tests__

# Environment files (use environment variables in Docker)
**/.env
**/.env.*

# Development files
.vscode
.idea
**/*.md
.editorconfig

# Documentation
docs

# Log files
logs
**/*.log

# Temporary files
**/tmp
**/temp
